extends layout

block content
  div.become-member-wrapper
    form(method="post")
      div.form-control
        label(for="answer_member") 6รท2(1+2)
        input#answer_member(type="text" name="answer_member" required)
      div.submit-button
        button(type="submit") Become Member
  if errors
    div.errors
      for error in errors
        p ERROR: #{error.msg}