extends layout

block content
  div.log-in-wrapper
    h1 Log In
    form(method="post")
      div.form-control
        label(for="username") Username:
        input#username(type="text" name="username" required)
      div.form-control
        label(for="password") Password:
        input#password(type="password" name="password" required)
      div.submit-button
        button(type="submit") Log In
  if errors
    div.errors
      for error in errors
        p ERROR: #{error.msg}