@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0c1a1a;
  color: #6acfc7;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3em;
}
header .navbar-left,
header .navbar-right {
  display: flex;
  align-items: center;
}
header .navbar-left {
  justify-content: flex-start;
}
header .navbar-right {
  justify-content: flex-end;
}
header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul li a {
  color: #ffffff;
  text-decoration-color: #6acfc7;
  text-underline-offset: 0.5em;
}
header .items-left {
  justify-content: flex-start;
}
header .items-right {
  justify-content: flex-end;
}
header .items-left-logged,
header .items-right-logged {
  flex-direction: column;
  gap: 8px;
}
header .items-left-logged {
  align-items: flex-start;
}
header .items-right-logged {
  align-items: flex-end;
}
header .app-name {
  text-align: center;
  align-self: center;
  font-size: 2.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 3em;
}
footer img {
  width: 32px;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  padding: 1em;
  min-height: 100svh;
  max-width: 1200px;
}

.errors p {
  color: red;
  text-align: center;
  margin-bottom: 1em;
}

.sign-up-wrapper,
.log-in-wrapper,
.new-message-wrapper,
.become-member-wrapper,
.become-admin-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.sign-up-wrapper h1,
.log-in-wrapper h1,
.new-message-wrapper h1,
.become-member-wrapper h1,
.become-admin-wrapper h1 {
  color: #ffffff;
}
.sign-up-wrapper form,
.log-in-wrapper form,
.new-message-wrapper form,
.become-member-wrapper form,
.become-admin-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sign-up-wrapper form .form-control,
.log-in-wrapper form .form-control,
.new-message-wrapper form .form-control,
.become-member-wrapper form .form-control,
.become-admin-wrapper form .form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.sign-up-wrapper form .form-control input,
.sign-up-wrapper form .form-control textarea,
.log-in-wrapper form .form-control input,
.log-in-wrapper form .form-control textarea,
.new-message-wrapper form .form-control input,
.new-message-wrapper form .form-control textarea,
.become-member-wrapper form .form-control input,
.become-member-wrapper form .form-control textarea,
.become-admin-wrapper form .form-control input,
.become-admin-wrapper form .form-control textarea {
  outline: 2px solid #6acfc7;
  border: none;
  min-width: 300px;
  max-height: 40px;
  padding: 1em;
  border-radius: 8px;
  font-size: 1.1rem;
}
.sign-up-wrapper form .form-control input:focus-visible,
.sign-up-wrapper form .form-control textarea:focus-visible,
.log-in-wrapper form .form-control input:focus-visible,
.log-in-wrapper form .form-control textarea:focus-visible,
.new-message-wrapper form .form-control input:focus-visible,
.new-message-wrapper form .form-control textarea:focus-visible,
.become-member-wrapper form .form-control input:focus-visible,
.become-member-wrapper form .form-control textarea:focus-visible,
.become-admin-wrapper form .form-control input:focus-visible,
.become-admin-wrapper form .form-control textarea:focus-visible {
  outline: 3px solid #ffffff;
}
.sign-up-wrapper form .form-control textarea,
.log-in-wrapper form .form-control textarea,
.new-message-wrapper form .form-control textarea,
.become-member-wrapper form .form-control textarea,
.become-admin-wrapper form .form-control textarea {
  max-height: initial;
  resize: vertical;
}
.sign-up-wrapper form .form-control input#answer_member,
.log-in-wrapper form .form-control input#answer_member,
.new-message-wrapper form .form-control input#answer_member,
.become-member-wrapper form .form-control input#answer_member,
.become-admin-wrapper form .form-control input#answer_member {
  min-width: initial;
  width: 50px;
  text-align: center;
  margin-top: 1em;
}
.sign-up-wrapper form .form-control input#answer_admin,
.log-in-wrapper form .form-control input#answer_admin,
.new-message-wrapper form .form-control input#answer_admin,
.become-member-wrapper form .form-control input#answer_admin,
.become-admin-wrapper form .form-control input#answer_admin {
  min-width: initial;
  width: 75px;
  text-align: center;
  margin-top: 1em;
}
.sign-up-wrapper form .form-control label[for=answer_member],
.sign-up-wrapper form .form-control label[for=answer_admin],
.log-in-wrapper form .form-control label[for=answer_member],
.log-in-wrapper form .form-control label[for=answer_admin],
.new-message-wrapper form .form-control label[for=answer_member],
.new-message-wrapper form .form-control label[for=answer_admin],
.become-member-wrapper form .form-control label[for=answer_member],
.become-member-wrapper form .form-control label[for=answer_admin],
.become-admin-wrapper form .form-control label[for=answer_member],
.become-admin-wrapper form .form-control label[for=answer_admin] {
  color: #ffffff;
  font-size: 2.5rem;
}
.sign-up-wrapper form .submit-button button,
.log-in-wrapper form .submit-button button,
.new-message-wrapper form .submit-button button,
.become-member-wrapper form .submit-button button,
.become-admin-wrapper form .submit-button button {
  outline: 2px solid #6acfc7;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
  padding: 0.5em;
  border-radius: 8px;
  margin: 1em 0;
  cursor: pointer;
}
.sign-up-wrapper form .submit-button button:focus-visible,
.log-in-wrapper form .submit-button button:focus-visible,
.new-message-wrapper form .submit-button button:focus-visible,
.become-member-wrapper form .submit-button button:focus-visible,
.become-admin-wrapper form .submit-button button:focus-visible {
  outline: 3px solid #ffffff;
}

.all-messages-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}
.all-messages-wrapper h1 {
  color: #ffffff;
}
.all-messages-wrapper .messages {
  display: grid;
  gap: 48px;
  max-width: 400px;
}
.all-messages-wrapper .messages .message-card {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr 1fr;
  place-items: center;
  outline: 2px solid #6acfc7;
  border-radius: 8px;
  padding: 1em;
}
.all-messages-wrapper .messages .message-card .title,
.all-messages-wrapper .messages .message-card .author,
.all-messages-wrapper .messages .message-card .time,
.all-messages-wrapper .messages .message-card .author-restricted,
.all-messages-wrapper .messages .message-card .time-restricted {
  color: #ffffff;
  padding: 0.25em;
}
.all-messages-wrapper .messages .message-card .author-restricted,
.all-messages-wrapper .messages .message-card .time-restricted {
  filter: blur(4px);
}
.all-messages-wrapper .messages .message-card form {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}
.all-messages-wrapper .messages .message-card form button {
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.all-messages-wrapper .messages .message-card form button img {
  width: 32px;
  background-color: initial;
  filter: invert(85%) sepia(12%) saturate(1320%) hue-rotate(121deg) brightness(87%) contrast(91%);
}

.error-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */